// Colors
$gray-900: #18181B;
$gray-500: #667085;
$gray-600:#52525B;
$gray-50: #F9FAFB;
$gray-400:#98A2B3;
$gray-200:#E4E4E7;
$gray-700:#344054;
$gray-300:linear-gradient(0deg, #D0D5DD, #D0D5DD);
$primary-700: #6941C6;
$primary-600: #7F56D9;
$white-color:#FFFFFF;
$blue-600:#2563EB;
$base-2:#090914;
$blue-gray-3:#CBD5E1;
$blue-gray-6: #475569;
$blue-900: #0F172A;
$blue-500: #4B5262;
$primary-1:#485AFF;
$blue-200: #E5EAF1;
$blue-gray-4: #94A3B8;
$blue-gray-2: #E2E8F0;
$blue-gray-5: #64748B;

$blue-gray-7:#F1F5F9;
$blue-gray-8:#1E293B;
$blue-gray-9: #0F172A;
