@import "./breakpoints";
@import "./colors";
@import "./spacing";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
}
.first-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-inline: 10px;
  gap: 0.5rem;
  margin-top: 5rem;
  @include md-down {
    grid-template-columns: 1fr;
    row-gap: 0.5rem;
  }
}
.right-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  padding-inline: 20px;
  @include md-down {
    width: 80%;
    margin: auto;
  }
  @include sm-down {
    width: 100%;
    margin: auto;
    gap: 2rem;
  }
}
.right-section h1 {
  font-family: Plus Jakarta Sans;
  font-size: 2.625rem;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
  color: $gray-900;
  @include md-down {
    font-size: 2.2rem;
    line-height: 38px;
  }
  @include sm-down {
    font-size: 2rem;
  }
}
.right-section p {
  font-family: Plus Jakarta Sans;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: $gray-700;
}
.right-section a {
  text-decoration: none;
  font-family: Plus Jakarta Sans;
  font-size: 1rem;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  color: $gray-900;
}
.fas {
  font-size: 1rem;
  margin-left: 10px;
}
.left-section {
  @include md-down {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
  }
  @include sm-down {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
  }
}
.left-section img {
  width: 100%;
  height: 485px;
  @include md-down {
    height: auto;
  }
}
//second component
.second-card-container {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-inline: 20px;
  @include md-down {
    grid-template-columns: 1fr;
  }
}
.designer-data {
  display: flex;
  gap: 10px;
  align-items: center;
  @include sm-down {
    display: flex;
    flex-direction: column;
  }
}
.designer-data img {
  max-width: 143px;
  height: 46.13px;
  border-radius: 58px;
  @include sm-down {
    max-width: 80px;
    height: 35px;
  }
}
.designer-data h3 {
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  color: $base-2;
}
.designer-data p {
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: $gray-600;
}
.second-left-section {
  @include md-down {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
  }
  @include sm-down {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
  }
}
.second-left-section img {
  width: 100%;
  height: 585px;
  border-radius: 20px;
  @include md-down {
    height: auto;
  }
}
.second-right-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-inline: 30px;
  padding-block: 10px;
  justify-content: center;
  @include md-down {
    width: 80%;
    margin: auto;
  }
  @include sm-down {
    width: 100%;
    margin: auto;
  }
}
.second-right-section img {
  max-width: 67px;
  height: 67px;
}
.designer-desc {
  font-family: Poppins;
  font-size: 2rem;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: 0px;
  text-align: left;
  color: $base-2;
  @include lg-down {
    font-size: 1.4rem;
  }
  @include sm-down {
    font-size: 1.2rem;
  }
}
//third component
.img-bck {
  background-image: url("../assetts/BG.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.third-card-container {
  display: flex;
  justify-content: space-between;
  padding-inline: 30px;
  padding-block: 40px;
  @include md-down {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.content {
  display: flex;
}
.content img {
  max-width: 52px;
  height: 62px;
  border: 1px;
  margin-right: 25px;
  @include sm-down {
    max-width: 42px;
    height: 42px;
  }
}
.content h1 {
  font-family: Poppins;
  font-size: 3.25rem;
  font-weight: 600;
  line-height: 62px;
  letter-spacing: -2px;
  text-align: left;
  justify-content: flex-start;
  color: $base-2;
  @include lg-down {
    font-size: 2.5rem;
  }
  @include sm-down {
    font-size: 2rem;
    line-height: 42px;
  }
}
.feature {
  font-family: Poppins;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  color: $blue-gray-5;
  margin-top: 20px;
  text-align: center;
  margin-left: 10px;
}
.button {
  background-color: $blue-600;
  border: none;
  color: $white-color;
  text-decoration: none;
  font-size: 1rem;
  max-width: 234px;
  padding: 16px;
  border-radius: 50px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.20000000298023224px;
  text-align: center;
  @include sm-down {
    margin-top: 20px;
  }
}
//four component
.footer-container {
  margin-top: 4rem;
  overflow: hidden;
}
.footer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-inline: 20px;
  padding-bottom: 20px;
  gap: 3rem;
  border-bottom: 1px solid $gray-200;
  @include md-down {
    grid-template-columns: repeat(3, 1fr);
  }
  @include sm-down {
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
}
a:hover {
  text-decoration: none;
  color: $blue-600;
}
.item h3 {
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;

  color: $gray-400;
}
.item a {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: $gray-500;
}
.Badge {
  display: flex;
  gap: 10px;
}
.ts-footer-link {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
.links {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  font-weight: 400;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.copyright-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  @include sm-down {
    flex-direction: column;
    row-gap: 1rem;
  }
}
.copyright-container img {
  max-width: 142px;
  height: 32px;
}
.copyright-container p {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: $gray-400;
}
//fifth component
.second-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding-inline: 2rem;
  text-align: center;
  margin-top: 5rem;
}
.second-header-container span {
  color: $primary-700;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}
.second-header-container h1 {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.02em;
  text-align: center;
  color: $gray-900;
}
.second-header-container p {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: $gray-500;
}

.fifth-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 2rem;
  padding-inline: 1rem;
  @include md-down {
    grid-template-columns: repeat(3, 1fr);
  }
  @include sm-down {
    grid-template-columns: repeat(1, 1fr);
  }
}
.fifth-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
  padding-block: 2rem;
  padding-inline: 1rem;
  @include md-down {
    width: 80%;
    margin: auto;
  }
  @include sm-down {
    width: 100%;
    margin: auto;
  }
}
.fifth-card img {
  max-width: 80px;
  height: 80px;
}
.description h2 {
  font-size: $large-font;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  color: $gray-900;
}
.description span {
  font-size: $small-font;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: $primary-700;
}
//sixth component
.sixth-header {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding-inline: 20px;
  margin-top: 5rem;
}
.sixth-header span {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: $primary-600;
  @include sm-down {
    font-size: 0.875rem;
  }
}
.sixth-header h1 {
  font-family: Inter;
  font-size: 3rem;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.02em;
  text-align: left;
  color: $gray-900;

  @include md-down {
    font-size: 2.25rem;
    line-height: 40px;
  }
}
.sixth-header p {
  font-family: Inter;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: $gray-500;
  @include sm-down {
    font-size: 1.125rem;
  }
}
.type {
  display: flex;
  flex-direction: column;
}
.my-button {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #3498db;
  border-radius: 8px;
  color: $white-color;
  background-color: $primary-600;
  transition: background-color 0.3s ease;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  color: $white-color;
  box-shadow: 0px 1px 2px 0px #1018280d;
  height: auto;
  width: 100%;
}
.button-container {
  margin-top: auto;
}
/* Hover effect */
.my-button:hover {
  background-color: #2980b9;
}
.plan-features {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.plan-feature {
  display: flex;
  gap: 1rem;
}
.plan-feature img {
  max-width: 24px;
  height: 24px;
}
.plan-feature p {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: $gray-500;
  @include sm-down {
    font-size: 1rem;
  }
}
.plan h2 {
  font-family: Inter;
  font-size: 3rem;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.02em;
  color: $gray-900;
  text-align: center;
  @include lg-down {
    font-size: 2.4rem;
  }
  @include sm-down {
    font-size: 2.25rem;
  }
}
.type span {
  font-family: Inter;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: $gray-900;
}
.type p {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: $gray-500;
}
.plan {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  box-shadow: 0px 4px 6px -2px #10182808;
  box-shadow: 0px 12px 16px -4px #10182814;
  border: 1px solid #eaecf0;
  border-radius: 16px;
  padding: 20px;
  position: relative;
  @include md-down {
    width: 80%;
    margin: auto;
  }
  @include sm-down {
    width: 100%;
    margin: auto;
  }
}
.plan-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 5rem;
  padding-inline: 20px;
  position: relative;
  @include md-down {
    grid-template-columns: repeat(1, 1fr);
  }
}
.popular-label {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -2rem;
  margin-right: -4rem;
  color: $primary-700;
  padding: 8px 16px;
  border-radius: 8px;
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  @include sm-down {
    top: 0;
    right: 20%;
    margin-top: -2rem;
    text-align: center;
  }
}

.popular-label img {
  max-width: 61.96px;
  height: 50px;
  margin-right: 2px;
}

// seven component
.seven-container {
  background-image: url("../assetts/BG2.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  margin-top: 5rem;
}
.seven-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding-block: 100px;
  padding-inline: 20px;
  @include md-down {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
  }
  @include sm-down {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
}
.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.column h1 {
  font-family: IBM Plex Sans;
  font-size: 3rem;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0px;
  text-align: left;
  color: $white-color;
  @include lg-down {
    font-size: 2.3rem;
  }
}
.column a {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  color: $white-color;
}
.column p {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  color: $gray-400;
}
.custom-link {
  text-decoration: none;
  color: $primary-600;
  padding-bottom: 5px;
  border-bottom: 1px solid $blue-600;
  width: fit-content;
  display: inline-block;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: right;
  color: $white-color;
}

//eight component
.eight-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid $gray-200;
  margin-top: 2rem;

  @include sm-down {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1rem;
  }
}
.eight-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  @include sm-down {
    width: 100%;
    margin: auto;
  }
}
.eight-card h1 {
  font-family: Poppins;
  font-size: 3.25rem;
  font-weight: 600;
  line-height: 62px;
  letter-spacing: -2px;
  text-align: center;
  color: $base-2;
  @include md-down {
    font-size: 2.8rem;
  }
}
.eight-card p {
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: $gray-600;
}
.eight-card span {
  font-family: Poppins;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  color: $gray-600;
}
.rounded-btn {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background-color: $blue-600;
  color: $white-color;
  border-radius: 50px;
  outline: none;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.20000000298023224px;
  text-align: center;
  max-width: 246px;
  margin: auto;
}
.rounded-btn:hover {
  background-color: #2980b9;
}
.eight-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  margin-top: 5rem;
}
.eight-container h1 {
  font-family: Poppins;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 46px;
  letter-spacing: -1.2000000476837158px;
  text-align: center;
  color: $base-2;
  padding-inline: 20px;
  @include md-down {
    font-size: 1.8rem;
  }
}
//nine component
.nine-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 5rem;
}
.nine-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 2rem;
  padding-inline: 20px;
  align-items: stretch;
  @include md-down {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1rem;
  }
}
.nine-container h1 {
  font-family: Poppins;
  font-size: 3.25rem;
  font-weight: 600;
  line-height: 62px;
  letter-spacing: -2px;
  text-align: center;
  color: $base-2;
  @include md-down {
    font-size: 2.5rem;
  }
  @include sm-down {
    font-size: 2rem;
    line-height: 48px;
  }
}
.nine-container p {
  font-family: Poppins;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: center;
  color: $gray-600;
}
.nine-card {
  background-color: $blue-gray-7;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  @include md-down {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.nine-card h1 {
  font-family: Poppins;
  font-size: 1.3125rem;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.30000001192092896px;
  text-align: left;
  color: $base-2;
  @include md-down {
    text-align: center;
  }
}
.nine-card img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.img-container {
  margin-top: auto;
}
.highlighted-text {
  background-color: lightblue;
  color: black;
}
//tenth component
.logos-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1.3rem;
  padding-inline: 20px;
}
.tenth-container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.tenth-container p {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: $gray-500;
}
.logos-container img {
  height: 40px;
}
.img-1 {
  max-width: 274.17px;
  @include sm-down {
    max-width: 219.33px;
  }
}
.img-2 {
  max-width: 238.33px;
  @include sm-down {
    max-width: 190.67px;
  }
}
.img-3 {
  max-width: 180px;
  @include sm-down {
    max-width: 144px;
  }
}
.img-4 {
  max-width: 165px;
  @include sm-down {
    max-width: 132px;
  }
}
.img-5 {
  max-width: 115px;
  @include sm-down {
    max-width: 92px;
  }
}
//eleven component
.eleven-container {
  background-color: $blue-gray-9;
  margin-top: 5rem;
}
.eleven-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 7rem;
  padding-inline: 20px;
  padding-block: 30px;
  @include lg-down {
    grid-template-columns: 1.2fr 1fr;
    gap: 2rem;
  }
  @include md-down {
    grid-template-columns: repeat(1, 1fr);
  }
}
.eleven-right-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @include md-down {
    width: 80%;
    margin: auto;
  }
  @include sm-down {
    width: 100%;
    margin: auto;
  }
}
.eleven-left-section {
  height: 100%;
  overflow: hidden;
  @include md-down {
    width: 80%;
    margin: auto;
  }
  @include sm-down {
    width: 100%;
    margin: auto;
  }
}
.eleven-left-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}
.signup-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: $blue-gray-8;
  color: $white-color;
  border: none;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
  border-radius: 35px;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.20000000298023224px;
  text-align: center;
  height: 60px;
}

.signup-btn img {
  margin-right: 8px;
}

.signup-btn:hover {
  background-color: #0056b3;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-family: Poppins;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: $gray-200;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border-radius: 35px;
  border: 1px solid #334155;
  background-color: $blue-gray-9;
  height: 60px;
}
input::placeholder {
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: $blue-gray-4;
  padding-left: 1rem;
}
input[type="checkbox"] {
  display: none;
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: $blue-gray-9;
  border: 1px solid #334155;
  border-radius: 4px;
  margin-right: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.custom-checkbox::after {
  content: "\2713";
  font-size: 0.875rem;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

input[type="checkbox"]:checked + .custom-checkbox::after {
  opacity: 1;
}

.remember-me {
  display: inline-flex;
  align-items: center;
  margin-bottom: 12px;
  font-family: Poppins;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: $white-color;
}

.createAcc-btn {
  padding: 16px;
  background-color: $blue-600;
  color: $white-color;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 50px;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.20000000298023224px;
  text-align: center;
  height: 55px;
  max-width: 201px;
}
.eleven-right-section h1 {
  font-family: Poppins;
  font-size: 3.25rem;
  font-weight: 600;
  line-height: 62px;
  letter-spacing: -2px;
  text-align: left;
  color: $white-color;
  @include lg-down {
    font-size: 2.8rem;
  }
  @include sm-down {
    font-size: 2rem;
  }
}
.eleven-right-section p {
  font-family: Poppins;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  color: $gray-400;
  @include sm-down {
    font-size: 1rem;
  }
}
.Account {
  font-family: Poppins;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: $blue-gray-5;
  @include sm-down {
    font-size: 0.5rem;
  }
}
.create-link {
  text-decoration: none;
  color: $blue-600;
}
//twelve component
.twelve-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-block: 4rem;
  padding-inline: 20px;
  gap: 2rem;
  @include md-down {
    grid-template-columns: repeat(1, 1fr);
  }
}
.flare-features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @include sm-down {
    grid-template-columns: repeat(1, 1fr);
  }
}
.twelve-left-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  @include md-down {
    width: 80%;
    margin: auto;
    gap: 1rem;
  }
  @include sm-down {
    width: 100%;
    margin: auto;
  }
}
.twelve-right-section {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  @include md-down {
    width: 80%;
    margin: auto;
  }
  @include sm-down {
    width: 100%;
    margin: auto;
  }
}
.twelve-left-section h1 {
  font-family: Inter;
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 66px;
  letter-spacing: -2px;
  text-align: left;
  color: $blue-900;
  @include lg-down {
    font-size: 3rem;
  }
}
.twelve-left-section p {
  font-family: Inter;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  color: $blue-500;
}
.feature {
  display: flex;
  gap: 10px;
}
.feature p {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: $blue-900;
}
.feature img {
  max-width: 24px;
  height: 24px;
}
.annual-container {
  background-color: $white-color;
  border: 2px solid $primary-1;
  display: flex;
  gap: 1.5rem;
  padding: 20px;
  border-radius: 20px;
  @include sm-down {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.monthly-container {
  background-color: $white-color;
  display: flex;
  gap: 1.5rem;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid $blue-200;
  @include sm-down {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.annual-container img,
.monthly-container img {
  width: 40px;
  height: 40px;
}
.trial {
  background-color: $primary-1;
  color: $white-color;
  padding: 16px, 24px, 16px, 24px;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
  height: 80px;
}
.value {
  background-color: $primary-1;
  color: $white-color;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-left: auto;
  height: 52px;
  text-align: center;
  @include sm-down {
    margin-left: auto;
    margin-right: auto;
  }
}
.Price-Detail h1 {
  font-family: Inter;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  cursor: $blue-900;
}
.Price-Detail p {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: $blue-500;
}
//thirteen component
.thirteen-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding-inline: 20px;
}
.thirteen-container span {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: $primary-700;
}
.thirteen-container h1 {
  font-family: Inter;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.02em;
  text-align: center;
  color: $gray-900;
}
.thirteen-container p {
  font-family: Inter;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: $gray-500;
  margin-bottom: 3rem;
}
.tool-container {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.tool-container img {
  width: 80px;
  height: 80px;
  @include sm-down {
    width: 64px;
    height: 64px;
  }
}
.integration {
  background-color: $primary-600;
  color: $white-color;
  padding: 20px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  height: 52px;
  text-align: center;
  height: 48px;
  margin-top: 1rem;
}
//fourteen component
.fourteen-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-inline: 20px;
}
.fourteen-container p {
  font-family: Inter;
  font-size: 3rem;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -0.02em;
  text-align: center;
  color: $gray-900;
  margin-top: 4rem;
  @include lg-down {
    font-size: 2.5rem;
  }
  @include md-down {
    font-size: 1.875rem;
  }
}
.Developer-Detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.Developer-Detail h3 {
  font-family: Inter;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  color: $gray-900;
}
.Developer-Detail p {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: $gray-500;
  margin: auto;
}
.Developer-Detail img {
  max-width: 64px;
  height: 64px;
}
.technology-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}
.logo-1 {
  max-width: 97.33px;
  height: 32px;
}
.logo-2 {
  max-width: 140.83px;
  height: 40px;
}
.logo-3 {
  max-width: 183px;
  height: 48px;
}
.logo-4 {
  max-width: 133.33px;
  height: 40px;
}
.logo-5 {
  max-width: 124.67px;
  height: 32px;
}
.swiper-container {
  display: none;
}

@include sm-down {
  .technology-container img {
    display: none;
  }

  .swiper-container {
    display: block;
  }

  .mySwiper {
    width: 100%;
    margin: auto;
  }

  .swiper-slide {
    text-align: center;
  }

  .logo-1,
  .logo-2,
  .logo-3,
  .logo-4,
  .logo-5 {
    max-width: 100%;
    height: auto;
  }
}
//fifteen component
.fifteen-Card-Detail h3 {
  font-family: Inter;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: $gray-900;
}
.fifteen-Card-Detail span {
  font-family: Inter;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: $primary-700;
}
.fifteen-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1rem;
  gap: 1rem;
  margin-top: 5rem;
  padding-inline: 20px;
  @include lg-down {
    grid-template-columns: repeat(2, 1fr);
  }
  @include md-down {
    grid-template-columns: repeat(1, 1fr);
  }
}
.fifteen-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @include md-down {
    width: 80%;
    margin: auto;
  }
  @include sm-down {
    width: 100%;
    margin: auto;
  }
}
.fifteen-card img {
  width: 100%;
  height: auto;
}

.fifteen-card p {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: $gray-500;
}
.social-links-containers {
  display: flex;
  gap: 1rem;
}
.social-links-containers i {
  width: 24px;
  height: 24px;
  color: $gray-400;
}
//sixteen component
.sixteen-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 5rem;
}
.sixteen-container span {
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.20000000298023224px;
  color: $blue-600;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 10px;
  text-align: center;
}
.sixteen-container h1 {
  font-family: Poppins;
  font-size: 3.25rem;
  font-weight: 600;
  line-height: 62px;
  letter-spacing: -2px;
  text-align: center;
  color: $base-2;
  @include sm-down {
    font-size: 2rem;
  }
}
.sixteen-card {
  display: flex;
  gap: 1rem;
  padding-inline: 10px;
  padding-block: 10px;
  @include lg-down {
    width: 80%;
    margin: auto;
  }
  @include md-down {
    width: 100%;
    margin: auto;
  }
  @include sm-down {
    display: flex;
    flex-direction: column;
  }
}
.sixteen-left-section img {
  max-width: 239px;
  height: 239px;
  @include lg-down {
    max-width: 100%;
    height: auto;
  }
}
.sixteen-right-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}
.Data-Info {
  display: flex;
  gap: 20px;
}
.Data-Info h3 {
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  color: $base-2;
}
.Data-Info span {
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: $blue-gray-5;
}
.sixteen-right-section p {
  font-family: Poppins;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: $base-2;
  @include lg-down {
    font-size: 1rem;
  }
}
.sixteen-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 3rem;
  @include lg-down {
    grid-template-columns: repeat(1, 1fr);
  }
}
.star-container i {
  color: $blue-600;
  max-width: 18.91px;
  height: 18.09px;
}
//seventeen component
.seventeen-container {
  background-color: $blue-gray-2;
  margin-top: 5rem;
}
.seventeen-card-container {
  padding-inline: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: $base-2;
  @include md-down {
    grid-template-columns: repeat(1, 1fr);
    display: flex;
    flex-direction: column-reverse;
    row-gap: 1rem;
    align-items: center;
    padding-block: 20px;
  }
}
.seventeen-right-section img {
  max-width: 100%;
  height: auto;
}

.seventeen-left-section {
  display: flex;
  justify-content: center;
}

.seventeen-left-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.seventeen-left-section h1 {
  font-family: Poppins;
  font-size: 3.25rem;
  font-weight: 600;
  line-height: 62px;
  letter-spacing: -2px;
  text-align: left;
  color: $base-2;
  @include sm-down {
    font-size: 2.5rem;
    line-height: 42px;
  }
}
.seventeen-left-section p {
  font-family: Poppins;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  color: $gray-900;
}
.button-row {
  display: flex;
  gap: 5px;
  @include sm-down {
    flex-direction: column;
    row-gap: 1rem;
  }
}

.filled-btn,
.outlined-btn {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  text-align: center;
}

.filled-btn {
  background-color: $blue-600;
  color: #fff;
  border-radius: 50px;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.20000000298023224px;
  text-align: center;
  color: $white-color;
}

.outlined-btn {
  background-color: transparent;
  border: 2px solid $blue-gray-6;
  border-radius: 50px;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.20000000298023224px;
  text-align: center;
  color: $blue-gray-6;
}
//eighteen component
.eighteen-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 5rem;
  padding-inline: 20px;
}
.eighteen-container span {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: $primary-700;
  @include sm-down {
    font-size: 0.875rem;
  }
}
.eighteen-container h1 {
  font-family: Inter;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.02em;
  text-align: left;
  color: $gray-900;
  @include sm-down {
    font-size: 1.875rem;
  }
}
.eighteen-container p {
  font-family: Inter;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: $gray-500;

  @include sm-down {
    font-size: 1.125rem;
  }
}
.eighteen-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 1rem;
  gap: 1rem;

  @include md-down {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1rem;
  }
}
.eighteen-left-section {
  display: flex;
  align-items: center;
  justify-content: center;
  @include md-down {
    width: 80%;
    margin: auto;
  }
  @include sm-down {
    width: 100%;
    margin: auto;
  }
}
.overall-features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
  gap: 2rem;

  align-items: center;
  justify-content: center;
  @include sm-down {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1rem;
  }
}
.single-feature span {
  font-family: Inter;
  font-size: 3.75rem;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -0.02em;
  color: $primary-600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  @include sm-down {
    font-size: 3rem;
  }
}
.single-feature h3 {
  font-family: Inter;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  color: $gray-900;
}
.single-feature p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: $gray-500;
}
.eighteen-right-section {
  @include md-down {
    width: 80%;
    margin: auto;
  }
  @include sm-down {
    width: 100%;
    margin: auto;
  }
}
.eighteen-right-section img {
  max-width: 100%;
  height: auto;
}
//nineteen component
.nineteen-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 5rem;
}
.nineteen-container span {
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.20000000298023224px;
  text-align: center;
  color: $blue-600;
}
.nineteen-container h1 {
  font-family: Poppins;
  font-size: 3.25rem;
  font-weight: 600;
  line-height: 62px;
  letter-spacing: -2px;
  text-align: center;
  color: $base-2;
  @include sm-down {
    font-size: 2rem;
    line-height: 42px;
  }
}
.unlimited-feature-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 3rem;
  padding-inline: 20px;
  @include md-down {
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
    margin: auto;
  }
  @include sm-down {
    width: 100%;
    margin: auto;
  }
}
.unlimited-feature {
  border-width: 0px, 0px, 0px, 0px;
  border-style: solid;
  border-color: #e4e4e7;
  border-radius: 20px;
  display: flex;
  align-items: baseline;
  gap: 10px;
  padding-inline: 20px;
  padding-block: 35px;
}
.unlimited-feature img {
  max-width: 15.75px;
  height: 15.75px;
}

.unlimited-feature p {
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: $gray-900;
}
//twenty component
.twenty-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}
.twenty-header span {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: $primary-600;
}
.twenty-header h1 {
  font-family: Inter;
  font-size: 3rem;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.02em;
  text-align: center;
  color: $gray-900;
  @include sm-down {
    font-size: 2rem;
    line-height: 40px;
  }
}
.twenty-header p {
  font-family: Inter;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: $gray-500;
}
.form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding-inline: 20px;
}
.email-input {
  box-shadow: 0px 1px 2px 0px #1018280d;
  border: 1px solid $gray-300;
  border-radius: 8px;
  background-color: $white-color;
  width: 360px;
  height: 48px;
  @include sm-down {
    width: 100%;
    height: auto;
    padding: 20px;
  }
}
.email-input::placeholder {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: $gray-500;
}
.subscribe {
  padding: 8px 12px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  border: 1px solid $primary-600;
  box-shadow: 0px 1px 2px 0px #1018280d;
  background-color: $primary-600;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  color: $white-color;
  width: 118px;
  height: 48px;
  @include sm-down {
    width: 100%;
    height: auto;
    padding: 20px;
  }
}
.recent-blog {
  margin-top: 2rem;
  padding-inline: 20px;
}
.second-blog-post {
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: $gray-900;
  margin-bottom: 1.5rem;
  @include md-down {
    width: 80%;
    margin: auto;
  }
  @include sm-down {
    width: 100%;
    margin: auto;
  }
}
.blog-post {
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: $gray-900;
  margin-bottom: 1.5rem;
  @include lg-down {
    width: 80%;
    margin: auto;
  }
  @include sm-down {
    width: 100%;
    margin: auto;
  }
}
.recent-blog-container {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 1rem;
  @include lg-down {
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
    margin: auto;
  }
  @include sm-down {
    width: 100%;
    margin: auto;
  }
}
.blog-head {
  display: flex;
  justify-content: space-between;
}
.badge-container {
  display: flex;
  gap: 20px;
  @include sm-down {
    gap: 5px;
  }
}
.badge-container img {
  max-width: 63px;
  height: 20px;
}
.recent-blog-left-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.post1 {
  max-width: 100%;
  height: auto;
}
.recent-blog-left-section span {
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: $primary-700;
}
.blog-head h1 {
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: $gray-900;
}
.blog-head img {
  max-width: 24px;
  height: 24px;
}
.recent-blog-left-section p {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: $gray-500;
}
.twenty-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  @include md-down {
    grid-template-columns: repeat(1, 1fr);
  }
}
.twenty-right-section {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.twenty-left-section img {
  max-width: 100%;
  height: auto;
}
.twenty-right-section span {
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: $primary-700;
}
.twenty-right-section h1 {
  font-family: Inter;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: $gray-900;
}
.twenty-right-section p {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: $gray-500;
}
.twenty-card-container {
  display: grid;
  row-gap: 1.5rem;
}
.all-blog-post {
  margin-top: 3rem;
  padding-inline: 20px;
}
.blog-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  row-gap: 1rem;
  @include md-down {
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
    margin: auto;
  }
  @include sm-down {
    width: 100%;
    margin: auto;
  }
}
.privacy-paragraph {
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: $gray-500;
  @include sm-down {
    padding-inline: 20px;
  }
}
.privacy-paragraph a {
  color: $gray-500;
}
.form-containers {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
//twenty one component
.twenty-one-container {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 2rem;
  margin-top: 5rem;
  padding-inline: 20px;
  @include md-down {
    grid-template-columns: 1fr;
    width: 80%;
    margin: auto;
  }
  @include sm-down {
    width: 100%;
    margin: auto;
  }
}
.customer-container {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  @include sm-down {
    flex-direction: column;
    max-width: 100%;
    gap: 1rem;
  }
}
.customer-feature {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.customer-feature h3 {
  font-family: Inter;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -0.5px;
  text-align: left;
  color: $blue-900;
}
.customer-feature p {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: $gray-600;
}
.twenty-one-right-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.twenty-one-right-section h1 {
  font-family: Inter;
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 66px;
  letter-spacing: -4px;
  text-align: left;
  color: $blue-900;
  @include lg-down {
    font-size: 3rem;
    line-height: 60px;
  }
  @include sm-down {
    font-size: 2.5rem;
  }
}
.twenty-one-right-section p {
  font-family: Inter;
  font-size: 1.3125rem;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0px;
  text-align: left;
  color: $gray-600;
  margin-bottom: 2rem;
  @include lg-down {
    font-size: 1rem;
  }
}
.twenty-one-left-section img {
  height: 617px;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
  @include md-down {
    height: auto;
    margin-top: 2rem;
  }
}
.input-container {
  display: flex;
  align-items: center;
  border: 1.5px solid $blue-200;
  border-radius: 12px;
  padding: 10px;

  max-width: 534px;
  height: auto;
  @include sm-down {
    flex-direction: column;
    width: 100%;
  }
}

.input-container input {
  border: none;
  outline: none;
  flex: 1;
  padding: 10px;
  @include sm-down {
    width: 100%;
  }
}

.input-container button {
  background-color: $primary-1;
  border: none;
  cursor: pointer;
  padding: 16px;
  border-radius: 10px;
  gap: 10px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
  color: $white-color;

  @include sm-down {
    width: 100%;
  }
}
.input-container button:hover {
  border: 2px solid $gray-900;
  background-color: transparent;
  color: $gray-900;
}
.input-container input::placeholder {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: $blue-500;
}
//twenty two component
.twenty-two-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding-inline: 20px;
  @include md-down {
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
    margin: auto;
  }
  @include sm-down {
    width: 100%;
    margin: auto;
  }
}
.twenty-two-left-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}
.twenty-two-left-section h1 {
  font-family: Inter;
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 66px;
  letter-spacing: -4px;
  text-align: left;
  color: $blue-900;
  @include lg-down {
    font-size: 3rem;
  }
  @include sm-down {
    font-size: 2.5rem;
    line-height: 56px;
  }
}
.twenty-two-left-section p {
  font-family: Inter;
  font-size: 1.3125rem;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0px;
  text-align: left;
  color: $black-600;
}
.landfolio-btn {
  background-color: $primary-1;
  border: none;
  cursor: pointer;
  padding: 16px 24px 16px 24px;
  border-radius: 8px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
  color: $white-color;
  max-width: 259px;
  height: auto;
}
.twenty-two-right-section img {
  width: 100%;
  height: auto;
}
